{% extends "layout.html" %}

{% block css %}
<style>
    #map { height: 400px; width: 100%; }
</style>
{% endblock css %}      

{% block js_head %}
    <script>
        function enviarCoordenadas() {
            alert('le has dado al botón, Felicidades')
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                var latitud = position.coords.latitude;
                var longitud = position.coords.longitude;
                // Enviar las coordenadas al servidor mediante una petición AJAX
                var url = '/places_nearby/'+latitud+'/'+longitud;
                window.location.href = url;
            });
            } else {
                alert('La geolocalización no está soportada en este navegador.');
            }
        }
    </script>
{% endblock js_head %}

{% block content %}
    <div class="text-center">
        <button onclick="enviarCoordenadas()" class="btn btn-success">Que tengo cerca</button>
        <div id="messages"></div>
    </div>
    <hr>
    {% if items %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <th>{{ item.name }}</th>
                            <td>
                                <a href="{% url 'place:detail_place' item.uuid %}" class="btn btn-info">Comprobar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock content %}
