{% extends "layout.html" %}

{% block title_page %}
    <h1>Listados de todos los lugares que tienes cerca</h1>
    <p>o eso espero ..</p>   
{% endblock title_page %}

{% block content %}
    {% if list_places %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Distancia</th>
                    </tr>
                </thead>
                <tbody>
                    {% for place in list_places %}
                        <tr>
                            <th>{{ place.0 }}</th>
                            <th>{{ place.1 }}</th>
                            <th>{{ place.2|floatformat:2 }} metros</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <a href="{% url 'place:home' %}"class="btn btn-success">Volver al Inicio</a>
            </div>
        </div>
    {% endif %}
{% endblock content %}
