{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Donde estoy?</title>
    <meta name="description" content="como acabe aqui?">
    <meta name="author" content="ecDesignStudio">

    <meta property="og:title" content="Donde estoy">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dj.ecdesign.es/">
    <meta property="og:description" content="como acabe aqui?">
    <meta property="og:image" content="image.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    
    <style>
        #map { height: 400px; width: 100%; }
    </style>
</head>
<body>
    <div class="text-center">
        <h1>Lugar={{ place.name }}, comprobar si estoy cerca</h1>
        <div id="messages"></div>
        <button onclick="getLocation()" class="btn btn-lg btn-primary">comprobar</button>
    </div>
    <hr>
    <div id="map"></div>
    <script>
        function getLocation() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    console.log("Latitude:", latitude);
                    console.log("Longitude:", longitude);
                    // Realizar la solicitud fetch a la URL y manejar la respuesta
                    fetch('/endpoint?latitude='+latitude+'&longitude='+longitude+'&id_place='+{{place.id}})
                    .then(function(response) {
                        return response.text();
                    })
                    .then(function(html) {
                        // Manipular el HTML de la respuesta como desees
                        var myDiv = document.getElementById("messages");
                        myDiv.innerHTML = html
                        console.log(html);
                        // Aquí puedes insertar el HTML en tu página o hacer otras acciones
                    })
                    .catch(function(error) {
                        console.log("Error:", error);
                    });

                    // Crear el mapa y mostrar las coordenadas en el mismo
                    var map = L.map('map').setView([{{place.latitude}}, {{ place.longitude}}], 18);
                    
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
                    }).addTo(map);
                    var bounds = new L.LatLngBounds();

                    var person=L.marker([latitude, longitude]).addTo(map);
                    bounds.extend(person.getLatLng());
                    var origin=L.marker([{{place.latitude}}, {{place.longitude}}]).addTo(map);
                    bounds.extend(origin.getLatLng());
                    map.fitBounds(bounds);
                });
            } else {
                console.log("La geolocalización no está disponible.");
            }
        }
    </script>
</body>
</html>
